.row{
    margin-top: 10px;
}
.col-md-10 .form-control[readonly] {
    cursor: pointer;
     background-color: #fff;
}
select.form-control{
    cursor: pointer;
}

img {
    display: block;
    max-width:230px;
    max-height:150px;
    width: auto;
    height: auto;
}

.saved{
    background-color: lightgreen;
    color: green;
    padding: 10px;
    height: 30px;
}
